/*
@font-face {
  font-family: "DK New Beginnings";
  src: url(fonts/DK_New_Beginnings.otf) format("opentype");
}

$NewBeginnings: "DK New Beginnings", sans-serif;
*/

body {
  background-image: url("../images/background_netdroid.png");
  background-color: $gray;
  color: $white;
  @include no-selection();
  @include no-drag();
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  //@include animate(bgSlide, 13s);
  //@include animate-cicle(infinite, normal);

  /*

  a {
    color: $pale-red;
    text-decoration: none;
  }

  a:hover {
    color: $red;
  }

  h1, h2, h3, h4 {
    font-family: $NewBeginnings;
  }

  .fa {
    color: $almost-white;
  }

  img {
    @include no-selection();
    @include no-drag();
  }
  */
}