/*

  :: Color Pallete ::
    Name: Bucerias
    By: Josué Martín

*/

$red: #FC4B5D; // Bloody Moonlight
$blue: #28C3FC; // 30,000 Feet
$dark-blue: #203A66; // The Deep
$gray: #DADFE7; // You don't Make it Easy
$white: #FFFFFF; // Normal White

