// Common css clases
.window-controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button {
  cursor: pointer;
}

.column {
  display: inline-block;
  width: 50%;
}
.left-column {
  float: left;
}
.right-column {
  float: right;
}