/*
  
  .:: Common Mixins ::.
  
  Crossbrowser animation mixins for common properties

*/

@mixin transition ($params...) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
  transition: $params;
}

@mixin border-radius ($params) {
  -webkit-border-radius: $params;
  -moz-border-radius: $params;
  border-radius: $params;
}

@mixin vertical-center () {
  // only work if element has defined width and height
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin no-selection () {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@mixin no-drag () {
  -webkit-user-drag: none; /* Safari */
  -moz-user-drag: none; /* Firefox */
  user-drag: none; /* Non-prefixed version */
}

@mixin box-shadow($shadow...) {
  $shadow: set-arglist-default($shadow, default-box-shadow());
  @include prefixed-properties(css-boxshadow, $box-shadow-support-threshold, (box-shadow: $shadow));
}