<div class="card-panel product-container">
  <% if(!product_error) { %>
  <div class="left-column column product-info">
    <div class="product-info-wrapper">
      <div class="product-title">
        <h3>{{ product_name }}</h3>
      </div>
      <div class="product-numbers">
        <div class="product-number product-precio product-preciop">
          <span class="label">Precio Menudeo: </span>
          <span class="data">{{ '$' + product_preciop }}</span>
        </div>
        <div class="product-number product-precio product-preciom">
          <span class="label">Precio Mayoreo: </span>
          <span class="data">{{ '$' + product_preciom }}</span>
        </div>
        <div class="product-number product-stock">
          <span class="label">Cantidad Disponible: </span>
          <span class="data">{{ product_stock }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right-column column product-details">
    <div class="picture">
      <img src="{{ product_img }}">
    </div>
  </div>
  <% } else { %>
  <div class="product-error-message">
    <i class="fa fa-warning fa-3x"></i>
    <span>{{ product_error_message }}</span>
  </div>
  <% } %>
</div>